* {
    font-family: arial;
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    background: #ededed;
    padding: 15px;
 }
 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;
    justify-content: space-around;
 }
 .cards {
    background: white;
    min-height: 125px;
    box-shadow: 0 0 8px 2px #ccc;
    border-radius: 6px;
 }
 .summary_sec {
    width: calc(100% - 80px); /* Subtracting width to account for the Subtract image */
    height: 151px;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }
 .summary_sec h2 {
    /* margin-bottom: 10px; */
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }
 .summary_sec .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 .text1 {
    color: #494949;
    font-size: 9.144px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.118px;
    letter-spacing: 0.091px;
    margin-top: 10px;
 }
 .text2 {
    color: #494949;
    font-size: 9.144px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.118px;
    letter-spacing: 0.091px;
 }
 .left_container {
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    row-gap: 20px;
 }
 .right_container {
    width: 20%;
 }
 .center_container {
    width: 56%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
 }
 .full_sec {
    width: 100%;
    height: 210px;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }
 
 .full_sec .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .full_sec .icon-graph {
    position: absolute;
    width: 128px;
    height: 198px;
 }
 
 .full_sec h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }

 .mid_sec {
    width: 49%;
    height: auto;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }

 .mid_sec .icon-vector{
    margin-right: 12px;
 }

 .content{
    display: flex;
    margin-top: 10px;
    margin-left: 12px;
    align-items: center;
 }
 
 .mid_sec .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .mid_sec h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }
.res-text{
    color: #494949;
/* font-family: Urbanist; */
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20.896px; /* 160% */
letter-spacing: 0.131px;
}


 .summary-image {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .summary-text {
     flex: 1;
     margin-right: 15%;
 }
 .summary_car img {
    width: 150px; /* Set a fixed width for the car image */
    height: auto;
 }
 .num {
     color: #FFA800;
     font-family: Urbanist;
     font-size: 43.893px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }
 .first_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns the elements at the top */
 }
 .subtract-image {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    height: 151px; /* Align with the height of the summary section */
 }
 .tckt-report{
    display: flex;
 }
 .desc{
    color: #494949;
font-size: 9.144px;
font-style: normal;
font-weight: 500;
line-height: 12.802px; /* 140% */
letter-spacing: 0.091px;
 }
 .desc2{
    color: #494949;
    font-size: 9.144px;
    font-style: normal;
    font-weight: 500;
    line-height: 12.802px; /* 140% */
    letter-spacing: 0.091px;
    margin-top: 8px;    
 }
 .num2{
    color: #FF784D;
    font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 29.262px; /* 73.155% */
letter-spacing: 0.4px;
 }
 .left-side{
    margin-top: 20px;
 }
 .left-below{
    margin-top: 15px;
 }

 .full_sec1 {
    width: 100%;
    height: auto;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }
 .full_sec1 .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .full_sec1 h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }

 .res-text1{
    color: #494949;
    margin-left: 10px;
/* font-family: Urbanist; */
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20.896px; /* 160% */
letter-spacing: 0.131px;
}

.full_sec3 {
    width: 100%;
    height: auto;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }
 .full_sec3 .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .full_sec3 h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }

 .full_sec4 {
    width: 100%;
    height: auto;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }
 .full_sec4 .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .full_sec4 h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }
 .res-text2{
    color: #494949;
    margin-left: 10px;
/* font-family: Urbanist; */
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20.896px; /* 160% */
letter-spacing: 0.131px;
}

.content1{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    align-items: center;
 }
 .content3{
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
 }
 .res-text2{
    color: #494949;
    margin-left: 10px;
/* font-family: Urbanist; */
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20.896px; /* 160% */
letter-spacing: 0.131px;
}

.full_sec5 {
    width: 100%;
    height: auto;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
 }
 .full_sec5 .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .full_sec5 h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }

 .root-content{
    color: #494949;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 19px; /* 190% */
letter-spacing: 0.1px;
margin-left: 55px;
 }

 .right_container {
    /* width: 100%; */
    height: auto;
    border-radius: 12.568px;
    background: #FFF;
    box-shadow: 0px 0px 2.095px 0px rgba(85, 107, 130, 0.16), 0px 2.095px 4.189px 0px rgba(85, 107, 130, 0.16);
    position: relative;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
     gap: 15px; /* Add gap between boxes */
 }
 .right_container .icon {
    position: absolute;
    top: -14px;
    left: 20px;
    width: 50px;
    height: 50px;
 }
 
 .right_container h2 {
    margin-bottom: 10px;
    padding-left: 56px; /* Padding to make space for the icon */
    position: relative;
    margin-top: -5px;
 }
.box {
    /* display: flex;
    align-items: center; */
    border: 1px solid #ccc; /* Border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 1.327px 1.327px 2.919px 0px rgba(0, 0, 0, 0.25);
    padding: 10px; /* Padding inside the box */
    background: #f9f9f9; /* Background color */
}

.box-icon {
    width: 100%;
    height: auto;
}

.box-text {
    color: #034F75;
font-size: 8.55px;
font-style: normal;
font-weight: 500;
line-height: 31.841px; /* 372.414% */
letter-spacing: 0.086px;
text-decoration-line: underline;
cursor: pointer;
}

.see-more-btn {
    color: #034F75;
    font-size: 18.289px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 22.861px */
    text-decoration-line: underline;
    border: none;
    background: none;
    cursor: pointer;
}
 .text-color{
    color: #0081DE;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 20.896px; /* 160% */
letter-spacing: 0.131px;
 }
 .images{
    display: flex;
    margin-left: 50px;
 }
 .imagecss{
    width: 100%;
    height: auto;
 }
 .sizes{
    color: #C0C0C0;
font-size: 10.614px;
font-style: normal;
font-weight: 400;
line-height: 31.841px; /* 300% */
letter-spacing: 0.106px;
 }